.App {
  text-align: left;
}

.App-logo {
  height: 32px;
  padding-right: 10px;
}

.App-header {
  background-color: #444;
  padding: 10px 5px;
  color: white;
  display: flex;
  align-items: center;
}

.App-title {
  font-size: 24px;
  font-weight: 100;
}

.App-body {
  padding: 10px 10px;
}


.preferred { color: #4545ff; }
.accepted  { color: #16a016; }
.experimental { color: #ada8a8; }
.outoffavor { color: #ff4d4d; }

.bg-preferred { color: #4545ff; }
.bg-accepted  { color: #16a016; }
.bg-experimental { color: #ada8a8; }
.bg-outoffavor { color: #ff4d4d; }


