.App {
  text-align: left;
}

.App-logo {
  height: 32px;
  padding-right: 10px;
}

.App-header {
  background-color: #444;
  padding: 10px 5px;
  color: white;
  display: flex;
  align-items: center;
}

.App-title {
  font-size: 24px;
  font-weight: 100;
}

.App-body {
  display: flex;
  font-size: .9em;
  justify-content: space-between;
}

.App-sidebar {
  max-width: 150px;
  min-width: 150px;
  padding: 5px;
  border-right: 0px solid #eee;
}

.App-content {
  padding: 5px;
  flex: 1;
}

.preferred { color: #4545ff; }
.accepted  { color: #16a016; }
.experimental { color: #ada8a8; }
.outoffavor { color: #ff4d4d; }

.bg-preferred { color: #4545ff; }
.bg-accepted  { color: #16a016; }
.bg-experimental { color: #ada8a8; }
.bg-outoffavor { color: #ff4d4d; }

.border-preferred { border-color: #4545ff; }
.border-accepted { border-color: #16a016; }
.border-experimental { border-color: #ada8a8; }
.border-outoffavor { border-color: #ff4d4d; }
