.header {
    background-color: #444;
    color: #eee;

    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    margin: 10px;
    align-items: center;
}

.header-logo {
    height: 32px;
    padding-right: 10px;
}

.header-title {
    font-size: 24px;
    font-weight: 100;
}

.header-right {
    display: flex;
    align-items: stretch;
    padding-right: 10px;
}

.status-button {
    cursor: pointer;
    font-size: .9em;
    color: #eee;
    border: 1px solid #555;
    border-bottom: 0px;
    display: inline-block;
    align-self: flex-end;
    margin-right: 5px;
}
.status-button-inner {
    padding: 5px;
    user-select: none;
}
.legend-arrow {
    cursor: pointer;
    user-select: none;
    padding: 5px;
    display: inline-block;
    color: #eee;
    align-self: flex-end;
}
.legend-arrow:hover {
    color: #ccc;
}

