.taglist {
    padding: 5px 5px;

}
.taglist-title {
    font-weight: 600;
    margin-bottom: 5px;
}

.tag {
    border: 0px solid #ccc;
    cursor: pointer;
    padding: 3px 3px;
}

.tag:hover {
    background-color: #ccc;
}
.tag:active {
    background-color: #ddd;
}

.tag-selected {
    background-color: #444;
    color: #eee;
}

.tag-selected:hover {
    background-color: #999;
    color: #000;
}



